{% extends 'base.html' %}
{% load static %}
{% block links %}
  <link rel="stylesheet" href="{% static 'alert.css' %}">
{% endblock links %}

{% block content %}

<div class="alert-container">
  <h2>Low Stock Alerts</h2>

    <table aria-label="Ingredients below threshold">
      <thead>
        <tr>
          <th>Product</th>
          <th>Current Quantity (g)</th>
          <th>Threshold (g)</th>
          <th>Alert Date</th>
        </tr>
      </thead>
      <tbody>
        {% for alert in alerts %}
          <tr>
            <td>{{ alert.name }}</td>
            <td>{{ alert.quantity }}</td>
            <td>{{ alert.weight }}</td>
            <td>{{ alert.delivery_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

</div>

{% endblock content %}

{% block js %}
{% endblock js %}