{% extends 'base.html' %}
{% load static %}
{% block links %}
  <link rel="stylesheet" href="{% static 'alert.css' %}">
{% endblock links %}

{% block content %}

    <!-- Table of ingredients below threshold -->
    <table aria-label="Ingredients below threshold">
      <thead>
        <tr>
          <th>Ingredient</th>
          <th>Current Quantity (g)</th>
          <th>Threshold (g)</th>
          <th>Delivery Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Salt</td>
          <td>150</td>
          <td>200</td>
          <td>2025-05-10</td>
        </tr>
        <tr>
          <td>Potato</td>
          <td>300</td>
          <td>400</td>
          <td>2025-05-12</td>
        </tr>
        <tr>
          <td>Beef</td>
          <td>180</td>
          <td>250</td>
          <td>2025-05-09</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock content %}


{% block js %}
{% endblock js %}