{% extends 'base.html' %}
{% load static %}
{% block links %}
  <link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock links %}

{% block content %}
  <div class="dashboard-container">
    <div class="card">
      <h3>Total Products</h3>
      <p>{{ total_products }}</p>
    </div>
    <div class="card">
      <h3>Meals Today</h3>
      <p>{{ meals_today }}</p>
    </div>
    <div class="card">
      <h3>Portions Served</h3>
      <p>{{ portions_today }} <span class="value" id="possible-portions">{{ possible_portions }}</span></p>
    </div>
  </div>

  <div class="dashboard-container role-section">
    <h2>Admin Panel</h2>
    <a href="{% url 'reports' %}" class="button">View Reports</a>
    <a href="{% url 'users' %}" class="button">Manage Users</a>
    <a href="{% url 'alerts:alerts' %}" class="button">View Alerts</a>
  </div>

  <div class="dashboard-container role-section">
    <h2>Manager Tools</h2>
    <a href="{% url 'inventory' %}" class="button">Inventory</a>
    <a href="{% url 'meals' %}" class="button">Meals</a>
    <a href="{% url 'portionestimates' %}" class="button">Estimate Portions</a>
  </div>

  <div class="dashboard-container role-section">
    <h2>Cook Section</h2>
    <a href="{% url 'servemeal' %}" class="button">Serve Meal</a>
  </div>
{% endblock content %}

{% block js %}
{% endblock js %}
